.mat-grey.mat-raised-button.mat-primary {
    background-color: lightgrey;
    color: #fff;
    font-size: 18px;
    padding: 10px 77px;
}

:host ::ng-deep .mat-form-field .mat-form-field-wrapper {
    font-size: 14px;
    color: #333;
}

:host ::ng-deep .mat-form-field .mat-form-field-wrapper .mat-form-field-infix {
    width: 500px;
}

.mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 96%;
}

:host ::ng-deep .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
    width: 30%
}

.mat-wdialog--close {
    opacity: 0.7;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 999;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
    margin-left: 91%;
    margin-top: -6%;
    margin-bottom: 5%;
}