h1 {
    font-size: 21px;
    color: #808080;
    font-weight: 400;
    margin-top: -27px;
}

:host ::ng-deep .mat-dialog-container {
    padding: 60px;
}

.mat-raised-button.mat-primary {
    color: #fff;
    font-size: 16px;
    padding: 7px 70px;
    letter-spacing: 1.5px;
    font-weight: 300;

    &:disabled {
        background: #C0C0C0;
    }
}

.add-card-btn {
    background: #017cc3;

}

:host ::ng-deep .mat-form-field .mat-form-field-wrapper {
    font-size: 14px;
    color: #333;
}

:host ::ng-deep .mat-form-field .mat-form-field-wrapper .mat-form-field-infix {
    width: 500px;
}

.mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 96%;
}

.mat-wdialog--close {
    opacity: 0.7;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 999;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
    left: 89%;
    padding-top: -8px;
}

.error-msg {
    font-size: 12px;
    color: #A30001;
    margin-top: -18px;
    display: block;
    padding-bottom: 15px;
}

.mat-form-field .mat-form-field-wrapper .mat-form-field-infix {
    width: 0px;
}


.mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: 0 0 0 0;
}

.cvv-img {
    display: flex;
    margin-bottom: -4px;
    height: 28px;
    width: 28px;
}