
.outer-container {
    border: 1px solid lightgray;
    width: 50%;
    padding: 30px;
    border-radius: 6px;
    margin-left: 2%;
}

.title {
    color: #808080;
    margin: 2% 2% 1% 2%;
    font-size: 20px;
    letter-spacing: 0.5;
    font-weight: 400;
}

.cards {
    margin-bottom: 20px;
}

.single-card {
    display: flex;
    justify-content: space-between;
    width: 85%;

}

.left-side {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 18px;
    width: 600px;
    justify-content: space-between;
    border-radius: 4px;
}

.right-btn {
    padding: 14px;
    .remove-btn {
        padding: 6px 42px 6px 42px;
        border:1px solid #017cc3;
        a {
            color: #017cc3;
            font-weight: 300;
            font-size: 16px;
        }
    }
}

.div1 {
    font-size: 12px;
    color: #808080;
    font-weight: 400;
}

.div2 {
    border: 1px solid lightgray;
    padding: 0 10px;
    border-radius: 4px;
}

.div3 {
    font-size: 16px;
}

.add-btn {
    padding: 10px 100px;
    margin-top: 14px;
    background: #017cc3;
    a {
        font-weight: 300;
        font-size: 18px;
    }
}

.right-img {
    height: 26px;
    width: 26px;
}