<div>
    <h1 class="title">My Wallet</h1>
</div>
<div class="outer-container">
    <ng-container *ngIf="cardList && cardList.length>0">
        <div class="cards" *ngFor="let item of cardList">
            <div class="single-card">
                <div class="left-side">
                    <div>
                        <div class="div1">Debit Card Number</div>
                        <div class="div3">{{srv?.maskingCardNumer(item?.cardNumber)}}</div>
                    </div>
                    <div class="div2"><img class="right-img" src="assets/images/visa.png" /></div>
                </div>
                <div class="right-btn">
                    <button mat-stroked-button class="mat-grey mat-primary remove-btn"
                        (click)="removeCard(item?.id);"><a>Remove</a></button>
                </div>
            </div>
        </div>
    </ng-container>
    <div>
        <button class="add-btn mat-grey mat-raised-button mat-primary" mat-button (click)="addNewCard();"><a>Add New
                Card</a></button>
    </div>
</div>